<div *ngIf="!articles || articles.length === 0" class="not-found-topics">
  <p>{{noTopicsFoundTitle}}</p>
</div>

<div class="card-background-page">
  <ion-card  *ngFor="let article of articles" (click)="selectTopicAndDisplaySummary(article)">
    <div class="img-holder" [ngStyle]="{'background-image': 'url('+(article.imageUrls.length > 0 && (isConnectedToWiFi || selectedImgLoadOption === 'all')
          ? article.imageUrls[0]  : selectedCategoryDefaultImage) +')' }" >
      <img src="{{(article.imageUrls.length > 0 && (isConnectedToWiFi || selectedImgLoadOption === 'all')
          ? article.imageUrls[0]  : selectedCategoryDefaultImage)}}"/>
      <div class="info-background">
        <div class="category"><span>{{selectedCategoryForUppercase}}</span><span>{{article.DaysAgo ? (("BEFORE" | translate) + article.DaysAgo + ("DAYS" | translate)) : (article.DisplayTime | translate)}}</span></div>

      </div>
    </div>

    <ion-card-content>
      <div class="title" [innerHtml]="article.Title"></div>
      <div class="stats-info">
        {{article.FromArticles}} {{(article.FromArticles==1? "source" : "sources") | translate}}
      </div>
    </ion-card-content>
  </ion-card>
</div>
