articles-list {
  .not-found-topics {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    p {
      position: relative;
      color: gray;
      top: 40%;
      font-size: large;
    }
  }
  .img-holder {
    position: relative;
    @media (min-width: 600px) {
      height: 250px;
      img {
        display: none;
      }
    }

    background-size: cover;
    @media (min-width: 800px) {
      height: 500px;
    }

    background-repeat: no-repeat;
    background-position: center center;
    .info-background {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.5);
      padding: 7px 16px;
    }
  }
  .category{
    color:white;
    text-transform: uppercase;
    display:flex;
    justify-content:space-between;

  }
  .stats-info
  {
    color:gray;
    font-size:1.2rem;
  }
}
