<ion-header>
  <ion-navbar>
    <ion-title>Επιστήμη</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card  *ngFor="let article of articles">
    <div class="img-holder">
       <img *ngIf="article.imageUrls.length>0" src="{{article.imageUrls[0]}}"/>
    </div>

    <ion-card-content>
      <div class="category"><span>Επιστημη</span><span>3:15</span></div>
      <div class="title">
        {{ article.Title}}
      </div>
      <div class="stats-info">
        {{article.FromArticles}} {{article.FromArticles==1? "πηγή":"πηγές"}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
