$dark-gray: #424242;
$almost-white: rgb(248, 248, 248);

ion-nav.light-theme {
  page-summary {
    #summaries-navigator {
      a {
        border: 1px solid $dark-gray;
        background-color: $almost-white;
        color: $dark-gray;
      }
    }
  }
}
