$dark-gray: #424242;
$almost-white: rgb(248, 248, 248);

ion-nav.light-theme {
  page-summary {
    #summaries-navigator {
      a {
        border: 1px solid $dark-gray;
        background-color: $almost-white;
        color: $dark-gray;
      }
    }
  }
}

ion-alert.light-theme {
  .alert-wrapper {
    .alert-message {
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      padding: 25px;
      &:empty {
        border: none;
        padding: 0;
      }
    }
  }
  // fixes for ios
  &.alert-ios {
    .alert-message {
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      padding: 25px;
      &:empty {
        border: none;
        padding: 0;
      }
    }
  }
}
