page-summary {
  ion-title {
    text-align: left;
  }
  #sources-grid {
    margin-bottom: 50px;
  }
  .grid {
    padding-top: 0;
  }
  #display-sources-toggle {
    ion-label {
      text-align: right;
      font-size: 11px;
      color: gray;
      padding: 0;
      margin: 0;
      border: none;
    }

    .item-inner {
      border: none;
    }
  }
  #img-container {
    position: relative;
    img {
      width: 100%;
      vertical-align: middle;
    }
    #title-background {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  #title {
    //font-weight: bold;
    color: white;
    padding: 12px;
    position: relative;
  }
  #date-info {
    font-size: small;
    color: gray;
    margin-bottom: 10px;
    #timestamp {
      text-align: right;
    }
  }
  .summary-snippet {
    color: black;
    padding: 0;
    margin-top: 0;
    line-height: 1.5em;
    p {
      margin-top: 0;
      margin-bottom: 5px;
    }

  }

  #sources-list {
    list-style-type: none;
    padding-left: 1px;
    margin-top: 5px;
    a {
      text-decoration: none;
      color: gray;
      font-size: smaller;
    }
  }

  .sentence-sources {
    display: none;
    color: lightgrey;
    font-size: 11px;
  }
  .displaySourcesUponSentence {
    .sentence-sources {
      display: block;

    }

  }

  #summaries-navigator {
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 10px;
    #nav-to-previous {
      text-align: left;
      display: table-cell;
      vertical-align: middle;
    }
    #nav-to-next {
      text-align: right;
      display: table-cell;
      vertical-align: middle;
    }
    a {
      text-decoration: none;
    }
  }
}

.light-theme {
  #sources-list a,
  sources .source a {
    color: #424242;
  }
}
