page-summary {
  ion-title {
    text-align: left;
  }
  #img-container {
    position: relative;
    img {
      width: 100%;
      vertical-align:middle;
    }
    #title-background {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  #title {
    //font-weight: bold;
    color: white;
    padding: 12px;
    position: relative;
  }
  #date-info {
    font-size: small;
    color: gray;
    margin-bottom: 10px;
    #timestamp {
      text-align: right;
    }
  }
  .summary-snippet {
    color: black;
    padding: 0;
    margin-top:0;
    line-height: 1.5em;
    p{
      margin-top:0;
      margin-bottom:5px;
    }
    span{
      display:block;
      color:lightgrey;
      font-size:11px;
    }
  }

  .source a{
    text-decoration: none;
    color:lightgray;
  }

  #sources-list{
    list-style-type: none;
    padding-left:1px;
    margin-top:5px;
    a {
      text-decoration: none;
      color: gray;
      font-size: smaller;
    }

  }
}
