page-summary {
  ion-title {
    text-align: left;
  }
  #title {
    font-weight: bold;
  }
  #subtitle {
    font-size: small;
    color: gray;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    #timestamp {
      text-align: right;
    }
  }
  .summary-snippet {
    color: black;
    padding: 0;
    margin-top:0;
    line-height: 1.5em;

    span{
      display:block;
      color:lightgrey;
      font-size:11px;
    }
  }
  #sources-list-title {
    margin-top: 20px;
    color: gray;
  }
  #sources-list {
    margin: 0 0 30px;
    padding-left: 20px;
    .source {
      padding-top: 5px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

}
